In [1]:
import pandas as pd
df=pd.read_json("E:\Metatalent.ai\Entity Recognition in Resumes.json",lines=True)
df.head(5)

,content,annotation,extras
0,Abhishek Jha\nApplication Development Associat...,"[{'label': ['Skills'], 'points': [{'start': 12...",NaN
1,Afreen Jamadar\nActive member of IIIT Committe...,"[{'label': ['Email Address'], 'points': [{'sta...",NaN
2,"Akhil Yadav Polemaina\nHyderabad, Telangana - ...","[{'label': ['Skills'], 'points': [{'start': 37...",NaN
3,Alok Khandai\nOperational Analyst (SQL DBA) En...,"[{'label': ['Skills'], 'points': [{'start': 80...",NaN
4,Ananya Chavan\nlecturer - oracle tutorials\n\n...,"[{'label': ['Degree'], 'points': [{'start': 20...",NaN

In [2]:
df.annotation[81]

[{'label': ['Companies worked at'],
  'points': [{'start': 5365, 'end': 5370, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 5318, 'end': 5323, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 4676, 'end': 4681, 'text': 'Oracle'}]},
 {'label': ['Designation'],
  'points': [{'start': 4613, 'end': 4632, 'text': 'Technical Consultant'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 4407, 'end': 4412, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 4374,
    'end': 4397,
    'text': 'Oracle Fusion Middleware'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 4374, 'end': 4379, 'text': 'Oracle'}]},
 {'label': ['Designation'],
  'points': [{'start': 4328, 'end': 4347, 'text': 'Technical Consultant'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 4210, 'end': 4215, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 4059, 'end': 4064, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 3449, 'end': 3454, 'text': 'Oracle'}]},
 {'label': ['Designation'],
  'points': [{'start': 3386, 'end': 3405, 'text': 'Technical Consultant'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 3165, 'end': 3170, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 3132,
    'end': 3155,
    'text': 'Oracle Fusion Middleware'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 3132, 'end': 3137, 'text': 'Oracle'}]},
 {'label': ['Designation'],
  'points': [{'start': 3087, 'end': 3106, 'text': 'Technical Consultant'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 2756, 'end': 2761, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 2694, 'end': 2699, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 2665,
    'end': 2688,
    'text': 'Oracle Fusion Middleware'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 2665, 'end': 2670, 'text': 'Oracle'}]},
 {'label': [], 'points': [{'start': 2585, 'end': 2590, 'text': 'Oracle'}]},
 {'label': ['Skills'],
  'points': [{'start': 2562, 'end': 2567, 'text': 'Oracle'}]},
 {'label': ['Skills'],
  'points': [{'start': 2557,
    'end': 2605,
    'text': 'Xml, Oracle MFT, Core Java, Oracle SOA, WSDL, ODI'}]},
 {'label': ['Graduation Year'],
  'points': [{'start': 2543, 'end': 2546, 'text': '2015'}]},
 {'label': ['College Name'],
  'points': [{'start': 2482,
    'end': 2532,
    'text': 'CHHATTISGARH SWAMI VIVEKANANDA TECHNICAL UNIVERSITY'}]},
 {'label': ['Degree'],
  'points': [{'start': 2476, 'end': 2479, 'text': 'C.S.'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 2407,
    'end': 2430,
    'text': 'Oracle Fusion Middleware'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 2407, 'end': 2412, 'text': 'Oracle'}]},
 {'label': ['Years of Experience'],
  'points': [{'start': 2394, 'end': 2402, 'text': '2.5 years'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 2356, 'end': 2361, 'text': 'Oracle'}]},
 {'label': ['Designation'],
  'points': [{'start': 2334, 'end': 2353, 'text': 'Technical Consultant'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 2184,
    'end': 2207,
    'text': 'Oracle Fusion Middleware'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 2184, 'end': 2189, 'text': 'Oracle'}]},
 {'label': ['Designation'],
  'points': [{'start': 2093, 'end': 2112, 'text': 'Technical Consultant'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 2086, 'end': 2091, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 1034, 'end': 1039, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 556, 'end': 579, 'text': 'Oracle Fusion Middleware'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 556, 'end': 561, 'text': 'Oracle'}]},
 {'label': ['Years of Experience'],
  'points': [{'start': 543, 'end': 551, 'text': '2.5 years'}]},
 {'label': ['Graduation Year'],
  'points': [{'start': 494, 'end': 497, 'text': '2015'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 452, 'end': 457, 'text': 'Oracle'}]},
 {'label': ['Designation'],
  'points': [{'start': 430, 'end': 449, 'text': 'Technical Consultant'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 263, 'end': 286, 'text': 'Oracle Fusion Middleware'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 263, 'end': 268, 'text': 'Oracle'}]},
 {'label': ['Location'],
  'points': [{'start': 118, 'end': 125, 'text': 'Bilaspur'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 60, 'end': 83, 'text': 'Oracle Fusion Middleware'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 60, 'end': 65, 'text': 'Oracle'}]},
 {'label': ['Years of Experience'],
  'points': [{'start': 47, 'end': 55, 'text': '2.5 years'}]},
 {'label': ['Name'],
  'points': [{'start': 0, 'end': 15, 'text': 'Shrishti Chauhan'}]}]

In [3]:
dic={
    'Name':[],
    'Skills':[],
    'College Name':[],
    'Graduation Year':[], 
    'Degree':[], 
    'Designation':[], 
    'Companies worked at':[], 
    'Email Address':[], 
    'Location':[],
}

In [4]:
max=0
for x in range(df.annotation.count()):
    if max<len(df.annotation[x]):
        max=len(df.annotation[x])

for i in range(0,df.annotation.count()):
    Name=" "
    Skills=" "
    College_Name=" "
    Graduation_Year=" " 
    Degree=" "
    Years_of_Experience= " "
    Designation=" "
    Comapanies_worked_at=" "
    EmailAddress=" "
    Location=" "
    for j in range(0,max):
        if len(df.annotation[i])>j and df.annotation[i][j]['label']!=[]:
            if df.annotation[i][j]['label'][0] == "Name":
                Name=df.annotation[i][j]['points'][0]['text']
            elif df.annotation[i][j]['label'][0] == "Skills":
                Skills=Skills+","+df.annotation[i][j]['points'][0]['text']
            elif df.annotation[i][j]['label'][0] == "College Name":
                College_Name=df.annotation[i][j]['points'][0]['text']
            elif df.annotation[i][j]['label'][0] == "Graduation Year":
                Graduation_Year=df.annotation[i][j]['points'][0]['text']
            elif df.annotation[i][j]['label'][0] == "Degree":
                Degree=df.annotation[i][j]['points'][0]['text']
            elif df.annotation[i][j]['label'][0] == "Years of Experience":
                Years_of_Experience=df.annotation[i][j]['points'][0]['text']   
            elif df.annotation[i][j]['label'][0] == "Designation":
                Designation=Designation+","+df.annotation[i][j]['points'][0]['text']
            elif df.annotation[i][j]['label'][0] == "Companies worked at":
                Comapanies_worked_at=Comapanies_worked_at+","+df.annotation[i][j]['points'][0]['text']
            elif df.annotation[i][j]['label'][0] == "Email Address":
                EmailAddress=df.annotation[i][j]['points'][0]['text']
            elif df.annotation[i][j]['label'][0] == "Location":
                Location=df.annotation[i][j]['points'][0]['text']
        else:
            continue
    
    dic['Name'].append(Name)
    dic['Skills'].append(Skills)
    dic['College Name'].append(College_Name)
    dic['Graduation Year'].append(Graduation_Year) 
    dic['Degree'].append(Degree) 
    dic['Designation'].append(Designation) 
    dic['Companies worked at'].append(Comapanies_worked_at)
    dic['Email Address'].append(EmailAddress)
    dic['Location'].append(Location)

In [5]:
df1=pd.DataFrame(dic)
print(df1.count())
df1.head(10)

Name                   220
Skills                 220
College Name           220
Graduation Year        220
Degree                 220
Designation            220
Companies worked at    220
Email Address          220
Location               220
dtype: int64

,Name,Skills,College Name,Graduation Year,Degree,Designation,Companies worked at,Email Address,Location
0,Abhishek Jha,",\n• Programming language: C, C++, Java\n• Or...",B.v.b college of engineering and technology,2017\n,,",B.E in Information science and engineering\n...",",Accenture,Accenture",Indeed: indeed.com/r/Abhishek-Jha/10e7a8cb732b...,Bengaluru
1,Afreen Jamadar,",Database (Less than 1 year), HTML (Less than...",CDAC ACTS,2017\n,PG-DAC,,,indeed.com/r/Afreen-Jamadar/8baf379b705e37c6,Sangli
2,Akhil Yadav Polemaina,",Teradata,Mainframe,Teradata,Mainframe,Terada...",Anurag College of Engineering (Jntuh),,Electrical and Electronics Engineering\n,",Senior Systems Engineer,Senior Systems Engineer",",Infosys Limited,Infosys Limited",indeed.com/r/Akhil-Yadav-Polemaina/\nf6931801c...,Hyderabad
3,Alok Khandai,",❖ Operating Environment: […] Windows95/98/XP...",B.Tech in Computer Science and Engineering in CSE,2012,,",Operational Analyst (SQL DBA) Engineer,Opera...",",UNISYS,UNISYS",indeed.com/r/Alok-Khandai/5be849e443b8f467,Bengaluru
4,Ananya Chavan,",EARCH ENGINE MARKETING (2 years), SEM (2 yea...",Mumbai University,,MCA,",lecturer,lecturer,lecturer,lecturer,lecturer",", oracle tutorials",indeed.com/r/Ananya-\nChavan/738779ab71971a96\n,Mumbai
5,Anvitha Rao,",IoT, MySQL, PostgreSQL, D3js, Hadoop and Spa...",Arizona State University,2016,Masters in Computer Science\n,",Automation developer,Automation developer",",SAP Labs,SAP Labs",indeed.com/r/Anvitha-Rao/9d6acc68cc30c71c,Bengaluru
6,arjun ks,",PMP trained six sigma yellow belt",sikkim manipal university,2014\n,mba in human resource,",Process Specialist,senior program coordinato...",",Infosys,oracle,Infosys,Infosys,Infosys,Infos...",indeed.com/r/arjun-ks/8e9247624a5095b4,Bangalore City
7,Arun Elumalai,",• Languages - Python\n\n• Software/Tools - S...",Sri Venkateswara College Of Engineering,,Bachelor of Engineering in Automobile Engineering,",QA Tester\n,QA Tester\n,QA Tester\n",",\nAccenture",,Chennai
8,,",M.S. OFFICE, DOEACC O LEVEL",Khallikote Autonomous college,2015\n,Master of Finance and Control in MFC,,,,
9,Ashok Kunam,",• Programming Languages: Java & J2EE, PHP, A...",Jawaharlal Nehru Technology University,2014,Bachelor of Technology in ECE\n,",Team Lead,Team Lead,Team Lead,Team Lead,Team...",",Microsoft,Microsoft,Microsoft",indeed.com/r/Ashok-Kunam/7aac8767aacf10a0,

In [13]:
df1.to_csv("sample_uncleaned_dataset.csv")

In [10]:
print(df1.Name[0])
print(df1.Skills[0])
print(df1["College Name"][0])
print(df1["Graduation Year"][0])
print(df1.Designation[0])
print(df1["Companies worked at"][0])
print(df1["Email Address"][0])

Abhishek Jha
 ,
• Programming language: C, C++, Java
• Oracle PeopleSoft
• Internet Of Things
• Machine Learning
• Database Management System
• Computer Networks
• Operating System worked on: Linux, Windows, Mac

Non - Technical Skills

• Honest and Hard-Working
• Tolerant and Flexible to Different Situations
• Polite and Calm
• Team-Player,C (Less than 1 year), Database (Less than 1 year), Database Management (Less than 1 year),
Database Management System (Less than 1 year), Java (Less than 1 year)
B.v.b college of engineering and technology
2017

 ,B.E in Information science and engineering
,Application Development Associate,Application Development Associate
 ,Accenture,Accenture
Indeed: indeed.com/r/Abhishek-Jha/10e7a8cb732bc43a

In [3]:
df2=pd.read_csv("E:\Metatalent.ai\Resume\Resume.csv")
df2.head(5)

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [28]:
! pip install spacy==2.3.5

Collecting spacy==2.3.5
  Downloading spacy-2.3.5-cp39-cp39-win_amd64.whl (9.4 MB)

ERROR: Exception:
Traceback (most recent call last):
  File "D:\anaconda\lib\site-packages\pip\_vendor\urllib3\response.py", line 438, in _error_catcher
    yield
  File "D:\anaconda\lib\site-packages\pip\_vendor\urllib3\response.py", line 519, in read
    data = self._fp.read(amt) if not fp_closed else b""
  File "D:\anaconda\lib\site-packages\pip\_vendor\cachecontrol\filewrapper.py", line 62, in read
    data = self.__fp.read(amt)
  File "D:\anaconda\lib\http\client.py", line 462, in read
    n = self.readinto(b)
  File "D:\anaconda\lib\http\client.py", line 506, in readinto
    n = self.fp.readinto(b)
  File "D:\anaconda\lib\socket.py", line 704, in readinto
    return self._sock.recv_into(b)
  File "D:\anaconda\lib\ssl.py", line 1241, in recv_into
    return self.read(nbytes, buffer)
  File "D:\anaconda\lib\ssl.py", line 1099, in read
    return self._sslobj.read(len, buffer)
socket.timeout: The read operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "D:\anaconda\lib\site-packages\pip\_internal\cli\base_command.py", line 173, in _main
    status = self.run(options, args)
  File "D:\anaconda\lib\site-packages\pip\_internal\cli\req_command.py", line 203, in wrapper
    return func(self, options, args)
  File "D:\anaconda\lib\site-packages\pip\_internal\commands\install.py", line 315, in run
    requirement_set = resolver.resolve(
  File "D:\anaconda\lib\site-packages\pip\_internal\resolution\resolvelib\resolver.py", line 94, in resolve
    result = self._result = resolver.resolve(
  File "D:\anaconda\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 472, in resolve
    state = resolution.resolve(requirements, max_rounds=max_rounds)
  File "D:\anaconda\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 341, in resolve
    self._add_to_criteria(self.state.criteria, r, parent=None)
  File "D:\anaconda\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 172, in _add_to_criteria
    if not criterion.candidates:
  File "D:\anaconda\lib\site-packages\pip\_vendor\resolvelib\structs.py", line 151, in __bool__
    return bool(self._sequence)
  File "D:\anaconda\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 140, in __bool__
    return any(self)
  File "D:\anaconda\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 128, in <genexpr>
    return (c for c in iterator if id(c) not in self._incompatible_ids)
  File "D:\anaconda\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 32, in _iter_built
    candidate = func()
  File "D:\anaconda\lib\site-packages\pip\_internal\resolution\resolvelib\factory.py", line 204, in _make_candidate_from_link
    self._link_candidate_cache[link] = LinkCandidate(
  File "D:\anaconda\lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 295, in __init__
    super().__init__(
  File "D:\anaconda\lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 156, in __init__
    self.dist = self._prepare()
  File "D:\anaconda\lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 227, in _prepare
    dist = self._prepare_distribution()
  File "D:\anaconda\lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 305, in _prepare_distribution
    return self._factory.preparer.prepare_linked_requirement(
  File "D:\anaconda\lib\site-packages\pip\_internal\operations\prepare.py", line 508, in prepare_linked_requirement
    return self._prepare_linked_requirement(req, parallel_builds)
  File "D:\anaconda\lib\site-packages\pip\_internal\operations\prepare.py", line 550, in _prepare_linked_requirement
    local_file = unpack_url(
  File "D:\anaconda\lib\site-packages\pip\_internal\operations\prepare.py", line 239, in unpack_url
    file = get_http_url(
  File "D:\anaconda\lib\site-packages\pip\_internal\operations\prepare.py", line 102, in get_http_url
    from_path, content_type = download(link, temp_dir.path)
  File "D:\anaconda\lib\site-packages\pip\_internal\network\download.py", line 145, in __call__
    for chunk in chunks:
  File "D:\anaconda\lib\site-packages\pip\_internal\cli\progress_bars.py", line 144, in iter
    for x in it:
  File "D:\anaconda\lib\site-packages\pip\_internal\network\utils.py", line 63, in response_chunks
    for chunk in response.raw.stream(
  File "D:\anaconda\lib\site-packages\pip\_vendor\urllib3\response.py", line 576, in stream
    data = self.read(amt=amt, decode_content=decode_content)
  File "D:\anaconda\lib\site-packages\pip\_vendor\urllib3\response.py", line 541, in read
    raise IncompleteRead(self._fp_bytes_read, self.length_remaining)
  File "D:\anaconda\lib\contextlib.py", line 137, in __exit__
    self.gen.throw(typ, value, traceback)
  File "D:\anaconda\lib\site-packages\pip\_vendor\urllib3\response.py", line 443, in _error_catcher
    raise ReadTimeoutError(self._pool, None, "Read timed out.")
pip._vendor.urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='files.pythonhosted.org', port=443): Read timed out.

In [1]:
import spacy

d:\anaconda\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
model_path = 'E:\\Metatalent.ai\\model\\'
model = spacy.load(model_path)
for i in range(df2["Resume_str"].count()):
    resume = model(df2.Resume_str[i])
    print("Entities", [(ent.text, ent.label_) for ent in resume.ents])

d:\anaconda\lib\site-packages\spacy\util.py:895: UserWarning: [W094] Model 'en_model' (0.0.0) specifies an under-constrained spaCy version requirement: >=2.3.5. This can lead to compatibility problems with older versions, or as new spaCy versions are released, because the model may say it's compatible when it's not. Consider changing the "spacy_version" in your meta.json to a version range, with a lower and upper pin. For example: >=3.5.2,<3.6.0
  warnings.warn(warn_msg)

OSError: [E053] Could not read config file from E:\Metatalent.ai\model\config.cfg