In [79]:
import re
import pandas as pd
import numpy as np
import openai

In [110]:
df=pd.read_csv(r"E:\\Metatalent.ai\\Resume\\Resume.csv")
df.info(5)
print(df['Category'].unique())
df1=df.loc[df.Category == 'INFORMATION-TECHNOLOGY' or df.Category == 'INFORMATION-TECHNOLOGY' or df.Category == 'DIGITAL-MEDIA' or df.Category == 'ENGINEERING']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2484 entries, 0 to 2483
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           2484 non-null   int64
 1   Resume_str   2484 non-null   object
 2   Resume_html  2484 non-null   object
 3   Category     2484 non-null   object
dtypes: int64(1), object(3)
memory usage: 77.8+ KB
['HR' 'DESIGNER' 'INFORMATION-TECHNOLOGY' 'TEACHER' 'ADVOCATE'
 'BUSINESS-DEVELOPMENT' 'HEALTHCARE' 'FITNESS' 'AGRICULTURE' 'BPO' 'SALES'
 'CONSULTANT' 'DIGITAL-MEDIA' 'AUTOMOBILE' 'CHEF' 'FINANCE' 'APPAREL'
 'ENGINEERING' 'ACCOUNTANT' 'CONSTRUCTION' 'PUBLIC-RELATIONS' 'BANKING'
 'ARTS' 'AVIATION']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [55]:
ind1=[]
ind2=[]
job_exp=[]

In [62]:
df['Resume'][1]

'Education Details \r\nMay 2013 to May 2017 B.E   UIT-RGPV\r\nData Scientist \r\n\r\nData Scientist - Matelabs\r\nSkill Details \r\nPython- Exprience - Less than 1 year months\r\nStatsmodels- Exprience - 12 months\r\nAWS- Exprience - Less than 1 year months\r\nMachine learning- Exprience - Less than 1 year months\r\nSklearn- Exprience - Less than 1 year months\r\nScipy- Exprience - Less than 1 year months\r\nKeras- Exprience - Less than 1 year monthsCompany Details \r\ncompany - Matelabs\r\ndescription - ML Platform for business professionals, dummies and enthusiasts.\r\n60/A Koramangala 5th block,\r\nAchievements/Tasks behind sukh sagar, Bengaluru,\r\nIndia                               Developed and deployed auto preprocessing steps of machine learning mainly missing value\r\ntreatment, outlier detection, encoding, scaling, feature selection and dimensionality reduction.\r\nDeployed automated classification and regression model.\r\nlinkedin.com/in/aditya-rathore-\r\nb4600b146                           Reasearch and deployed the time series forecasting model ARIMA, SARIMAX, Holt-winter and\r\nProphet.\r\nWorked on meta-feature extracting problem.\r\ngithub.com/rathorology\r\nImplemented a state of the art research paper on outlier detection for mixed attributes.\r\ncompany - Matelabs\r\ndescription - '

In [57]:
for i in range(df['Resume'].count()):
    for x in re.finditer('Skill Details', df['Resume'][i]):
        ind1.append(x.start())
        ind2.append(x.end())
#        print(x.start(),x.end())
df['ExpStart']=ind1
df['ExpEnd']=ind2

In [58]:
df.head(5)

,Category,Resume,ExpStart,ExpEnd,job_exp
0,Data Science,Skills * Programming Languages: Python (pandas...,789,802,Data Science Assurance Associate - Ernst & You...
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,103,116,Data Scientist - Matelabs\r\n
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",951,964,DATA SCIENCE AND ELECTRICAL ENTHUSIAST\r\n
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,627,640,Consultant - Deloitte USI\r\n
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",88,101,\r\n

In [59]:
for i in range(df['Resume'].count()):
    resume=df['Resume'][i]
    y=df['ExpStart'][i]
    x=y-2
    while resume[x-1:x]!='\n':
        x=x-1
    job_exp.append(resume[x:y-4])

df['job_exp']=job_exp

In [66]:
df.head(10)
exp=[]

In [67]:
for i in range(df['Resume'].count()):
    resume=df['Resume'][i]
    y=df['ExpEnd'][i]
    y=y+3
    x=y
    while resume[x:x+1]!='\n':
        x=x+1
    exp.append(resume[y:x-1])

df['exp']=exp